

<p>
  <strong>Great! You are trying this idea</strong>
</p>
<p>
	Title: <%= @idea.title %>
</p>

<p>
	If you already tried, give your rating:
</p>


<%= form_for UserIdea.new do |form| %>
  <%= form.text_field :rating %>
  <%= form.submit %>
<% end %>

<%= link_to 'Rate', rateidea(@idea) %>
<%= link_to 'Back', ideas_path %>
