<!DOCTYPE html>
<html>
  <head>
    <title>I have an idea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material\Icons" rel="stylesheet">
  </head>
  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="/ideas" class="brand-logo center">Our Ideas</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/welcome/home">home</a></li>
      </ul>
    </div>
  </nav>
  <p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
  <main>
     <div class="container">  
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
       <%= yield %>
     </div>
  </main>
  <footer>
  </footer>
  </body>
</html>
